/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* style */

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
    background-image: url(repeated-square.jpg)
}

.pembungkus {
    width: 800px;
    margin: auto;
    background-color: rgb(255, 255, 255);
}

.pembungkus h1 {
    text-decoration: underline;
    color: white;
    background-color: black;
    padding: 30px;
}


.judul {
    font-family: Arial;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.image img {
        width: 790px;
        margin: auto;
        height: 300px;
        border-left: 5px solid black;
        border-right: 5px solid black;
        border-bottom: 5px solid black;
}

.isi {
    color: white;
    background-color: black;
    padding: 15px;
    border-left: 5px solid black;
    border-right: 5px solid black;
    border-bottom: 5px solid white;
}

.isi p {
    padding-bottom: 15px;
    font-size: 15px;
}

.dokkodo {
    padding-top: 15px;
    padding-bottom: 30px;
    font-size: 15px;
    background-color: black;
}

.dokkodo li {
    color: white;
    padding-left: 20px;
    padding-bottom: 3px;
}

.footer {
    border-top: 5px solid white;
    background-color: black;
    padding: 15px;
}

.footer h3 {
    color: white;
}